<!-- <ng-container *ngIf="{
  timer: timer$ | async
} as state">
  <p>Timer 1 value: {{ state.timer }}</p>
  <p>Timer 2 value: {{ state.timer }}</p>
</ng-container> -->

<div class="card">
  <div class="header">
      <h1 class="title">Typeahead</h1>
  </div>

  <div class="content">

    <div class="control-group">
        <label>City</label>
        <input
            [formControl]="control" class="form-control">
    </div>

    <div *ngIf="loading">Loading...</div>

  </div>
</div>

<div class="card"
    *ngIf="flights$ | async as flights">
    <table
        class="table table-contensed"
        *ngIf="flights?.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let f of flights">
                <td>{{f.id}}</td>
                <td>{{f.from }}</td>
                <td>{{f.to }}</td>
                <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
        </tbody>
     </table>
</div>
